<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>minirreto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD26CB2D1C64E85000F98711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD26CB411C64E85400F98711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD26CB4C1C64E85400F98711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
